/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
// .accordion-header {
// 	display: flex;
// 	align-items: center;
// 	flex-direction: row;
// 	padding: 10px;
// 	& .accordion-header-text {
// 		flex: 1;
// 		margin-right: 20px;
// 	}
// }


// .accordion-body {
// 	padding: 10px;
// 	display: none;
// }

// .wp-block-create-block-accordion {
// 	background-color: #f0f0f0;
// 	border: 1px solid #ccc;
// 	margin: 0px;
// 	padding: 0px;
// 	border-radius: 5px;
// 	height: auto
// }

// .is-open {
// 	display: block;
// }


.wp-block-create-block-accordion {
	border: 1px solid #ddd;
    .block-list-appender {
        width: 100% !important;
        max-width: none !important;
        position: relative;
        
        .block-editor-button-block-appender {
            width: 100% !important;
            justify-content: center !important;
        }
    }

    .wp-block-create-block-accordion-item {
        border-bottom: 1px solid #ddd;
        &:last-child {
            border-bottom: none; // Remove border for the last item
        }
    }
    
    .add-new-accordion-wrapper {
        width: 100%;     // Add padding inside the wrapper // Optional: visual separator
        clear: both !important;             // Ensure it's below other content
        
        .block-editor-button-block-appender {
            width: 100% !important;
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
        }
    }
}

