/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.accordion-item-header {
	display: flex;
	align-items: center;
	flex-direction: row;
	padding: 10px;
	& .accordion-item-header-text {
		flex: 1;
		margin-right: 20px;
	}
}


.accordion-item-body {
	padding: 10px;
}

.wp-block-create-block-accordion-item {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	border-radius: 0px;
}