/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */


.accordion-item-header {
	display: flex;
	align-items: center;
	flex-direction: row;
	padding: 10px;
	& .accordion-item-header-text {
		flex: 1;
		margin-right: 20px;
	}
}


.accordion-item-body {
	padding: 10px;
	display: none;
}

.wp-block-create-block-accordion-item {
	background-color: #f0f0f0;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	border-radius: 0px;
}
.is-open {
	display: block;
}